@import '../../scss/variables';

.details {
  margin-top: $md-spacing;
  background-color: white;

  .header {
    .picture {

      img {
        padding: 20px;
        width: 100%;
      }
    }

    .info {
      padding-top: $lg-spacing;
      padding-right: $lg-spacing;

      p {
        margin: 0px;
      }

      .extra-details {
        font-size: $sm-font-size;
      }

      .title {
        padding-top: $md-spacing;
        font-size: $lg-font-size;
        font-style: bold;
        
      }

      .price {
        padding-top: $lg-spacing;
        font-size: $xl-font-size;
      }

      button {
        margin-top: $lg-spacing;
        width: 100%;
        font-size: 1.5rem;
        background-color: #3483FA;
      }
    }
  }

  .description {
    margin-top: 80px;
    padding-left: $lg-spacing;

    h1 {
      font-size: $xs-font-size;
    }

    div {
      width: 100%;
      margin-top: $lg-spacing;
      padding-bottom: $lg-spacing;
      font-size: 16px;
    }
  }

}