@import '../../scss/variables';

.breadcrumbs {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $background-color !important;
  font-size: 14px;

  .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
  }
}

