@import '../../scss/variables';

.breadcrumbs {
  padding-top: $md-spacing;
  padding-bottom: $md-spacing;
  background-color: $background-color !important;
  $sm-font-size: 14px;

  .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
  }
}

