@import '../../scss/variables';

button.btn.btn-secondary.btn-search-input {
  background-color: $background-color;
}

.search-autocomplete {

  input#states-autocomplete {
    width: 100%;
    font-size: $md-font-size;
    border: none;
  }

  input#states-autocomplete:focus {
    outline-offset: 0px;
    outline: none;
  }

  div > div {
    margin-top: 5px;
    left: 150px;
  }
}

.Select.form-control.Select--single.is-clearable.is-searchable {
  font-size: $md-font-size;
  padding: 0px;
}

.Select-control {
  border: none;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

span.Select-arrow-zone {
    display: none;
}